{% extends 'authApp/base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<h1>Signup to ReadCount!</h1>
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success" type="submit">Signup now!</button>
</form>
<br/>
<p>Already have an account? <a href="{% url 'login' %}"><b>Login Instead!</b></a></p>
<div class="alert alert-primary" role="alert">
    <h5><b>Note:</b></h5>
    After <b>signup</b> you will be redirected to the <b>login page</b> where you can enter your <b>credentials</b> to access the stories.
</div>
<br/>
{% endblock body %}
